@page "{id:int?}"
@model CSharpLab4.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Coach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.TeamData.Teams) {
            string selectedRow = "";
            if(item.TeamID==Model.TeamID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.FullName)
            </td>
            <td>
                    @{
                        foreach(var player in item.Players)
                        {
                            @player.ID @: @player.FullName <br />
                        }
                    }
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.TeamID">Select</a>
                <a asp-page="./Edit" asp-route-id="@item.TeamID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.TeamData.Players!=null)
{
    <h3>Players Taught by Selected Team</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Position</th>
        </tr>
        @foreach(var item in Model.TeamData.Players)
        {
            string selectedRow = "";
            if(item.ID == Model.PlayerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Position
                </td>
            </tr>
        }
    </table>
}